Repository mdzh10/FinBot-AI-Powered-Chatbot-For-Personal-Finance-Management, pull requests merged in 2024-11, with the labels that each got.

#58 create update delete ACCOUNT API
  backend/controllers/account_controller.py
  backend/schemas/account_schema.py
  backend/services/account_service.py
Labels: backend

#61 Create and get all transaction category api
  backend/controllers/category_controller.py
  backend/main.py
  backend/services/category_service.py
Labels: backend

#60 created deleted transaction API
  backend/controllers/transaction_controller.py
  backend/services/transaction_service.py
Labels: backend

#63 Poc: frontend
  README.md
  frontend/lib/authentication/Register.dart
  frontend/lib/authentication/SignInPage.dart
  frontend/lib/bloc/cubit/app_cubit.dart
  frontend/lib/models/Account.dart
  frontend/lib/models/AccountResponseModel.dart
  frontend/lib/models/DashboardResponseModel.dart
  frontend/lib/models/login_model.dart
  frontend/lib/screens/home/home.screen.dart
  frontend/lib/screens/home/widgets/account_slider.dart
  frontend/lib/screens/main.screen.dart
  frontend/lib/screens/onboard/widgets/landing.dart
  frontend/pubspec.yaml
Labels: frontend

#81 Rd 49 : Account Edit Delete Add
  backend/services/account_service.py
  frontend/lib/authentication/Register.dart
  frontend/lib/authentication/SignInPage.dart
  frontend/lib/data/icons.dart
  frontend/lib/models/Account.dart
  frontend/lib/screens/accounts/accounts.screen.dart
  frontend/lib/screens/home/home.screen.dart
  frontend/lib/screens/home/widgets/account_slider.dart
  frontend/lib/screens/main.screen.dart
  frontend/lib/widgets/buttons/button.dart
  frontend/lib/widgets/dialog/account_form.dialog.dart
  frontend/lib/widgets/dialog/confirm.modal.dart
Labels: frontend

#85 category table, request and response params updated
  backend/models/category.py
  backend/schemas/category_schema.py
  backend/services/category_service.py
Labels: backend

#87 credit, debit, balance now correctly updated in account table
  backend/main.py
  backend/schemas/transaction_schema.py
  backend/services/transaction_service.py
Labels: bug, backend

#88 receipt table deleted and removed db ops from service logic
  backend/controllers/receipt_controller.py
  backend/models/receipt.py
  backend/services/receipt_service.py
Labels: bug, backend

#97 Gcp deployment with CICD
  .devcontainer/devcontainer.json
  .github/workflows/cicd.yaml
  .gitignore
  Dockerfile.dev
  Dockerfile.prod
  backend/Dockerfile
  backend/config/config.py
  backend/config/db/database.py
  backend/main.py
  backend/services/receipt_service.py
  backend/services/visualization_service.py
  cloudbuild.yaml
  gcr-service-policy.yaml
  service.yaml
Labels: backend, deployment
